<html>
<head>
<meta charset="utf-8">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/signUp.css">

<style>
</style>
</head>

<body>

	<div id="header" class="z-depth-1">JWP-Trello</div>

	<div class="login_form_wrapper">
		<form action="/signup" method="POST">
			<div class="signUp_title">Create a Account</div>

			<div class="row">
				<div class="input-field col s12">
					<input name="userId" type="text" class="validate"> <label
						for="user_id">Username</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input name="userEmail" type="email" class="validate"> <label
						for="user_email">Email</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="rawPassword" class="validate">
					<label for="password">Password</label>
				</div>
			</div>
			<div class="btn_area">
				<input class="waves-effect waves-light btn save blue-grey lighten-5"
					type="submit" value="OK" />
			</div>
				</form>
	</div>

	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="lib/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="lib/materialize.min.js"></script>
</body>
</html>